body{
    margin: 0 !important;
}
.main-section {
    margin-top: 120px;
    height: 610px;
    width: 100%;
}
.project-description{
    font-weight: 300;
    font-size: 22px;
    margin-top:25px;
    margin-left: auto;
    margin-right: auto;
    color: #fdfdfd;
    text-align: center;
}
.gas-plant-bg{
    margin-top: 250px;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgb(0 21 39 / 85%), rgb(0 19 35 / 95%)),
    url(../../img/contacts/gasPlant.jpg);
    background-size: cover;
    place-content: center;
    text-align: center;
    display: grid;
    transition: 0.6s;
}
