
.main-section {
    margin-top: 180px;
    height: 650px;
    width: 100%;
}

.form-container {
    width: 1100px;
    height: 610px;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    border: solid 2px #004aad;
    background-color: white;
    transition: transform 0.3s ease-out;
}

.form-header {
    display: block;
    margin-top: 50px;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}
.first-header, .second-header{
    font-weight: 300;
    margin-left: 145px;
    margin-bottom: 15px;
}
.first-header {
    margin-top: 65px;

}

.second-header {
    margin-top: 40px;
}

.registration-form {
    width: 300px;
    margin-left: 130px;
    border: 2px solid #989898;
    border-radius: 10px;
    padding: 12px;
    font-size: 20px;
}
.checkbox{
    height: 20px;
    width: 20px;
}
.checkbox-agreement{
    margin: 55px 0 0 365px;
}
.checkbox-text{
    margin-left: 20px;
}
#create-account-button {
    display: block;
    width: 290px;
    height: 60px;
    margin: 30px auto 0 auto;
    background-color: #235ab3;
    color: #fff;
    border-style: none;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
}

.password-header {
    margin-left: 345px;
}

.password-confirmation-header {
    margin-left: 278px;
}

#password-input, #password-confirmation-input {
    margin-left: 185px;
    display: inline-block;
}

