
.main-section {
    margin-top: 180px;
    height: 610px;
    width: 100%;
}

.page-header {
    margin-left: 135px;
    font-size: 26px;
    font-weight: 300;

}
.meterage-container {
    display: flex;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.2em;
}
.meterage-box{
    width: 640px;
    height: 440px;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    border: solid 2px #004aad;
    background-color: white;
    transition: transform 0.3s ease-out;
}
.meterage-box-header{
    text-align: center;
    margin-top: 60px;
}
.meterage-input-box-description{
    color: #6b6b6b;
    text-align: center;
    font-weight: 400;
    margin-top: 60px;
}
.meterage-reading-input{
    display: block;
    width: 300px;
    margin: 20px auto 0 auto;
    border: 2px solid #989898;
    border-radius: 10px;
    padding: 12px;
    font-size: 20px;
}
.save-button{
    display: block;
    width: 230px;
    height: 60px;
    margin:55px auto 0 auto;
    background-color: #235ab3;
    color: #fff;
    border-style: none;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
}
#meterage-readings-container{
    margin-top: 30px;
    height: 240px;
    overflow-y: scroll;
}
.reading-record{
    color: #484848;
    display: block;
    text-align: center;
    margin: 0 auto 15px auto;
}
.gas-meter-number{
    display: inline-block;
    text-align: left;
    width: 165px;
}
.reading-date{
    display: inline-block;
    width: 140px;
}
.meter-reading-value{
    display: inline-block;
    width: 180px;
}
