<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThymeLeaf Fragment:footer</title>
</head>
<body>
<footer th:fragment="footer">
<p class="footer-description">
  <a href="https://web.telegram.org/" class="footer-icon">
    <img src="/img/common/telegram.svg"  alt="telegram">
  </a>
  <a href="https://www.instagram.com/" class="footer-icon">
    <img src="/img/common/instagram.svg"  alt="instagram">
  </a>
  <span id="text-description" >2023 UKR GAS | Всі права захищені</span>
</p>
</footer>
</body>
</html>