<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ThymeLeaf Fragment:header</title>
</head>
<body>
<header th:fragment="header">
<a th:href="@{/}" class="logo">
    <img id="logo" src="/img/common/logo.png" alt="logo">
</a>
<nav>
    <ul class="main-nav" id="nav-bar-list">
    </ul>
</nav>
<button hidden id="main-login-button">Особистий кабінет</button>
<div class="dropdown">
    <button hidden id="user-button">
        <span class="material-symbols-outlined user-icon">
            account_circle</span>
    </button>
    <div id="personal-account-list" >


    </div>
</div>
</header>
</body>
</html>