<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ThymeLeaf Fragment:login-form</title>
</head>

<body>

<div th:fragment="login-form">
    <div class="login-popup">
        <div id="login-form">
            <span class="material-icons" id="close-login-button">close</span>
            <h2>Вхід</h2>
            <input type="email" class="input-field" name="email" id="email" placeholder="Email">
            <input type="password" class="input-field" name="password" id="password" placeholder="Пароль">
            <label id="login-label"></label>
            <button id="login-popup-button" onclick="loginUser()">Увійти</button>
            <a id="registration-popup-button" th:href="@{/registration}">Реєстрація</a>
        </div>
    </div>
</div>


</body>
</html>