<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Розрахунки</title>
    <link rel="stylesheet" type="text/css" href="/css/common/style.css">
    <link rel="stylesheet" type="text/css" href="/css/common/header.css">
    <link rel="stylesheet" type="text/css" href="/css/common/login-form.css">
    <link rel="stylesheet" type="text/css" href="/css/calculations/calculations.css">
    <link rel="icon" type="image/x-icon" href="/img/common/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<div id="background-popup"></div>
<header th:replace="~{fragments/header :: header}" id="header">
</header>
<div th:replace="~{fragments/login-form :: login-form}">

</div>
<main>


    <div class="main-section">

        <h3 class="page-header">Розрахунки</h3>
        <div class="calculation-box">
            <div id="left-line"></div>
            <div id="right-line"></div>
            <h4 class="box-description">
                <span class="month">Місяць</span>
                <span class="tariff">Тарифний план</span>
                <span class="price">Ціна м³, грн</span>
                <span class="amount-consumed">Спожито, м³</span>
                <span class="accrued-payment">Нараховано</span>
                <span class="paid-payment">Оплачено</span>
                <span class="balance">Баланс</span>
            </h4>
            <div id="calculation-records-container">

            </div>
        </div>
    </div>


</main>
<footer th:replace="~{fragments/footer :: footer}">
</footer>

<script src="/js/common/login-form.js"></script>
<script type="module" src="/js/calculations/calculations.js"></script>
<script src="/js/common/header-initializer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/js/index/slider-animation.js"></script>

</body>
</html>